.header__logo {
    display: block;
    width: 120px;
    height: 120px;
    position: relative;
    margin: auto;
    animation-name: rotacion;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes rotacion {
    0% {transform: rotatey(0deg);}
    10% {transform: rotatey(360deg);}
    90% {transform: rotatey(360deg);}   
    100% {transform: rotatey(0deg);}
}

.section-index {
    background-color: #D2C7B5;
}

@media screen and (min-width: 991px) {
    
    .header__logo {
        width: 200px;
        height: 200px;
    }
    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-link {
        font-size: 20px;
        margin-left: 100px;
    }


}

