* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.grid__index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
    min-width: 350px;
    
}
    
.header__index {
   background-color: rgb(255, 255, 255);
   
}
header {
    grid-template-rows: 1 / 2;
}
main {
    grid-template-rows: 2 / 3;
}

footer {
    grid-template-rows: 3 / 4; 
}
.header__logo {
    display: block;
    width: 120px;
    height: 120px;
    position: relative;
    margin: auto;
}
.header__ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #ffffff;
}
.nave__li {
    list-style: none;
}
.nave__li1 {
    display: none;
}    
li a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-weight: bold;
    font-size: 12px;   
}
li a:hover {
    color: black;
   
}
.main__fondo {
    width: 100%;
   
    position: relative;
    opacity: 0.8;
    object-fit: contain;
    
   
    
}
.section__index {
    position: relative;
    top: -5px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #D2C7B5;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.section__p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.0em;
    color: rgb(66, 64, 64);
    line-height: 1.7em;
}  
.div__logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logos {
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
.footer__p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.5em;
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-weight: bold;
    
    font-size: 12px;   
    
}
.footer__a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.main__productos {
    background-color: rgb(241, 236, 231);
}
.h1-productos {
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
    padding: 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}
.h2-productos {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-style: italic;
}
.h3-productos {
    text-align: center;
    font-size: 1.0em;
    padding: 10px;
    margin-top: 50px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}
.main__ul-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.fotitos-productos {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.main__li-fotos {
    padding: 10px;
}
.productos__li {
    margin-top: 10px;
    background-color: #f3e6e6;
    width: 300px;
    height: 250px;
    padding-top: 40px;
}
.productos__p {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.section__contacto {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px;
    background-color: #D2C7B5;
    border: solid 1px white;
}
.contacto__img {
    display: block;
    height: 180px;
    width: 250px;
    border: 1px solid wheat;
}
.main__contacto {
    background-color: #D2C7B5;
}

.form {
    width: 250px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}
.input {
    border-bottom: 1px solid rgb(245, 133, 133);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 5px;
    resize: none;
    padding: 3px;
}
.label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h1-contacto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    background-color: #D2C7B5;
}
.main__donde-encontrarnos {
    background-color: #D2C7B5;
}
.ul-donde-encontrarnos {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.iframe {
    width: 250px;
    height: 250px;
    margin-top: 10px;
}
.h3-buscanos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
    
.li-donde-encontarnos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.iframe2 {
    margin-top: 20px;
}
.main__quienes-somos {
    background-color: #D2C7B5;
    
}
.h2__quienes-somos {
    padding: 20px;
}
.section__p {
    padding: 20px;
}

    
    
@media screen and (min-width: 700px) {
    .nave__li1 {
        display: contents;
    }
    .header__logo {
        width: 200px;
        height: 200px;
    }
    li a {
        font-size: 15px;   
    }
    .section__p {
        font-size: 1.5em;
    }
    .div__logos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .logos {
        margin-top: 30px;
        width: 30px;
        height: 30px;
    }
    .main__ul-productos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;
    } 
    .contacto__img {
        width: 400px;
        height: 315px;
    }
    .section__contacto {
        margin-left: 100px;
        margin-right: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .form {
        padding-bottom: 20px;
       padding-left: 20px;
    }
    
    .ul-donde-encontrarnos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    
    
}      
            
            
            








    
    


    
