    
.header__logo {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
   
    animation-name: rotacion;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes rotacion {
    0% {transform: rotatey(0deg);}
    10% {transform: rotatey(360deg);}
    90% {transform: rotatey(360deg);}   
    100% {transform: rotatey(0deg);}
}

.section-index {
    background-color: #D2C7B5;
}

.logos {
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
.fotitos-productos {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.container5 {
    max-width: 500px;
}
    

@media screen and (min-width: 991px) {
    
    .header__logo {
        width: 150px;
        height: 150px;
        
    }
    
    


}

